.Navbar {
    width: 240px;
    height: 100vh;
    padding: 13px 0px;

    background: #efeff1;
}

.Navbar .top {
    padding: 0 13px;
    margin-bottom: 15px;

    display: flex;
    justify-content: space-between;
}

.Navbar .top h3 {
    color: #404040;
    font-size: 13px;
    text-transform: uppercase;
}

.Navbar .exitIcon {
    padding: 3px;

    transform: rotate(-90deg);
    cursor: pointer;
}

.Navbar .exitIcon:hover {
    background: #e7e7e8;
}

.Navbar .channels {
    display: flex;
    flex-direction: column;
}

.Navbar .channels .channel {
    padding: 5px 13px;

    display: flex;
    justify-content: space-between;
}

.Navbar .channels .channel:hover {
    background: #e7e7e8;

    cursor: pointer;
}

.Navbar .channels .user {
    display: flex;
    gap: 10px;
}

.Navbar .channels .channel .user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.Navbar .channels .channel .views {
    display: flex;
    gap: 5px;
    font-size: 12px;
}

.Navbar .channels .channel .views div {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top: 5px;

    background: #f00;
}

.Navbar .channels .channel .user .userInfo span {
    font-size: 13px;
    opacity: 80%;
}