@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

.Header,
.Header .headerLeft,
.Header .headerCenter,
.Header .headerRight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header {
    width: 100%;
    height: 50px;
    padding: 0 11.5px;
    box-shadow: 2.5px 0 5px 0px #bbb;

    background: #fff;

    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
}

.Header .headerLeft {
    gap: 30px;
}

.Header .headerLeft .twitchLogo {
    cursor: pointer;
}

.Header .headerLeft a {
    margin-top: -8px;

    font-size: 19px;
    font-weight: 600;
    color: #424244;
    text-decoration: none;

    transition: .1s;
}

.Header .headerLeft a:hover {
    color: #9147ff;
}

.Header .headerLeft .more {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.Header .headerLeft .more .moreVertical {
    padding: 5px;
    border-radius: 3px;

    cursor: pointer;
}

.Header .headerLeft .more .moreVertical:hover {
    background: #e7e7e8;
}

.Header .headerLeft .more .headerMore {
    width: 200px;
    height: 750px;
    padding: 15px 12px;
    border-radius: 5px;

    background: #fff;
    box-shadow: -0.1px -0.1px 3px 0px #bbb;


    display: flex;
    flex-direction: column;
    gap: 25px;

    position: absolute;
    top: 30px;
    right: -170px;
}

.Header .headerLeft .more .headerMore .moreContent .title {
    padding: 0px 5px;
    margin-bottom: 15px;

    font-size: 15px;
    color: #757575;
}

.Header .headerLeft .more .headerMore .moreContent hr#Geral {
    margin-top: 20px;
    opacity: 30%;

    display: block;
}

.Header .headerLeft .more .headerMore .moreContent hr {
    display: none;
}

.Header .headerLeft .more .headerMore .moreContent .content {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.Header .headerLeft .more .headerMore .moreContent .content a {
    padding: 5px 5px;
    border-radius: 5px;

    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #757575;
}

.Header .headerLeft .more .headerMore .moreContent .content a:hover {
    background: #e7e7e8;
}

.Header .headerCenter .search {
    width: 400px;
    height: 37px;
    border-radius: 5px;

    background: #e7e7e8;

    position: relative;
    
    overflow: hidden;
}

.Header .headerCenter .search input {
    width: 90%;
    height: 100%;
    padding-left: 15px;
    border-radius: 7px 0px 0px 7px;
    border: 2px solid #000;

    background: #00000000;

    outline: none;
    border: none;
}

.Header .headerCenter .search input:hover {
    border: 2px solid #bbb;
}

.Header .headerCenter .search .searchIcon {
    width: 10%;
    padding: 0px 8px;
    height: 100%;
    border-radius: 0px 7px 7px 0px;
    border-left: 2.5px solid #fff;
    
    background: #f0f0f0;

    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(-50%, -50%);

    cursor: not-allowed;
}

.Header .headerCenter .search .searchIcon:hover {
    background: #e7e7e8;
}

.Header .headerRight {
    gap: 10px;
}

.Header .headerRight .crowIcon,
.Header .headerRight .userIcon {
    padding: 5px;
    border-radius: 2.5px;
}

.Header .headerRight .crowIcon:hover,
.Header .headerRight .userIcon:hover {
    background: #e7e7e8;

    cursor: pointer;
}

.Header .headerRight button {
    padding: 7.5px 9px;
    border-radius: 3px;
    border: none;

    font-size: 13px;
    font-weight: 700;

    cursor: pointer;
}

.Header .headerRight .btnSignIn {
    background: #e7e7e8;
}

.Header .headerRight .btnSignIn:hover {
    background: #d7d7d8;
}

.Header .headerRight .btnSignUp {
    background: #9147ff;
    color: #eee;
}

.Header .headerRight .btnSignUp:hover {
    background: #7b3ed6;
}

